body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: lightblue;
}

h1{
    margin: 0;
}

#container{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
    height: 700px;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}



#navigation{
    margin-left: auto;
    padding-right: 20px;
}